@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #edf6f9;
}
h1 {
    text-align: center;
}

#place {
    margin: auto;
    margin-bottom: 10px;
}

@media (min-width: 768px) {

    .listPlaces {
        display: flex;
    }

    #place {
        width: 30em;
        height: 40em;
    }

}




